@model KeepItSolved.ViewModels.LoginViewModel
@{
	ViewBag.Title = "Login";
}
@section Scripts{
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<div class="container-fluid">
	<div class="col-md-5 col-sm-12 text-center">
		<form method="post" novalidate asp-controller="App" asp-action="Index">
			<div class="bold" asp-validation-summary="ValidationSummary.ModelOnly"></div>
			<div class="form-group">
				<label asp-for="Login">Login</label>
				<input asp-for="Login" class="form-control smaller-input" />
				<b><span asp-validation-for="Login" class="text-danger"></span></b>
			</div>
			<div class="form-group">
				<label asp-for="Password">Password</label>
				<input asp-for="Password" type="password" class="form-control smaller-input" />
				<b><span asp-validation-for="Password" class="text-danger"></span></b>
			</div>
			<div class="form-group">
				<input type="submit" class="smaller-input btn btn-success" value="Login" />
			</div>

		</form>
		<a asp-controller="App" asp-action="Register" class="text-primary"><b><ins>Don't have an account yet? Register!</ins></b></a>
	</div>
	<div class="col-md-7 col-sm-12 text-center">
		<h2><b>Try out demo version without logging in</b></h2>
		<a asp-controller="App" asp-action="Demo"  id="btnLogin" class="btn btn-lg btn-success">Demo Preview</a>
	</div>

</div>	
